+++
title = "Golang-Aware"
linkTitle = "Golang-Aware"

+++

{{< blocks/cover title="Welcome to Golang-Aware" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/mas2020-golang/go-aware">
		Github repo <i class="fab fa-github ml-2 "></i>
	</a>
  <p class="lead mt-5">A Golang programming language site!!</p>
	<p class="lead mt-3" >If you have not done yet, take a look at the first article <a href="blog/2021/01/30/first-release-of-golang-aware-site/">here</a></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Golang Aware is a web site born from the passion for the programming language, Go in particular. This site is free, you are welcome!!

For the latest news on ***golangaware.com*** you can consult the <a href="blog/news/">***blog***</a> section, for information about the language take a look at the <a href="docs/">***docs***</a> section.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/mas2020-golang/go-aware" %}}
We do a [Pull Request](https://github.com/mas2020-golang/go-aware/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us SOON on Twitter!" url="" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}



